
.container {
  padding: 20px;
}

.search-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.result-table {
  border: 1px solid gray;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  border: 1px solid gray;
  padding: 5px;
}

.map-container {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}